body {
    font-family: 'Nunito', sans-serif;
    background-image: url("background_image.jpg");
    color: #ffffff;
}

span {
    font-size: 24px;
}

#score {
    margin-left: -1150px;
}

#timer {
    float: right;
    margin-right: 35px;
}

#sketch_to_be_drawn {
    font-weight: bold;
}